
::selection{
    background: #ff80bf;
}
.login{
    background: #fff;
    /*max-width: 550px;*/
    width: 100%;
    /*max-height: 600px;*/
    /*padding: 25px 30px;*/
    border-radius: 5px;
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.2);
}
.login form{
    padding: 30px 70px;
}
.login form .title{
    font-size: 55px;
    font-weight: 600;
    margin: 20px 0 10px 0;
    position: relative;
}
.login form .title:before{
    content: '';
    position: absolute;
    height: 4px;
    width: 33px;
    left: 0px;
    bottom: 3px;
    border-radius: 5px;
    background: linear-gradient(to right, #020202 0%, #8d8d8d 100%);
}
.login form .input-box{
    width: 100%;
    height: 25px;
    margin-top: 25px;
    position: relative;
}
.login form .input-box input{
    width: 100%;
    height: 100%;
    outline: none;
    font-size: 16px;
    border: none;
}
.login form .underline::before{
    content: '';
    position: absolute;
    height: 2px;
    width: 100%;
    background: #ccc;
    left: 0;
    bottom: 0;
}
.login form .underline::after{
    content: '';
    position: absolute;
    height: 2px;
    width: 100%;
    background: linear-gradient(to right, #171717 0%, #8c8c8c 100%);
    left: 0;
    bottom: 0;
    transform: scaleX(0);
    transform-origin: left;
    transition: all 0.3s ease;
}
/*.login form .input-box input:focus{*/
/*    outline: none;*/
/*    border: none;*/
/*}*/
.login form .input-box input:focus ~ .underline::after,
.login form .input-box input:valid ~ .underline::after{
    transform: scaleX(1);
    transform-origin: left;
}
.login form .button{
    margin: 40px 0 20px 0;
}
.btn input[type="submit"]{
    background: linear-gradient(to right, #0c0c0c 0%, #7e7e7e 100%);
    font-size: 17px;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.btn input[type="submit"]:hover{
    letter-spacing: 1px;
    background: linear-gradient(to left, #1f1f1f 0%, #646464 100%);
}
/*.container .option{*/
/*    font-size: 14px;*/
/*    text-align: center;*/
/*}*/

@media (max-width: 767px) {
    /* responsive styles for medium-sized screens */
    .login {
        box-shadow: none;
        height: auto;/* remove border shadow */
    }
    .field{
        box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
    }
    img{
        display: none;
    }
}