<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/4.1.0/css/bootstrap.min.css/}" />
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/font-awesome/5.0.10/web-fonts-with-css/css/fontawesome-all.min.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/cart.css}" />
    <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/icon?family=Material+Icons"
    />

    <title>BooksMart</title>
    <style>        .fav {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }    </style>
</head>
<body>
<div th:replace="segments/basenav :: basenav"></div>
<br><br><br><br><br>
<div class="container">
    <div class="row"><h2 class="text-center">Your Favorites</h2>
        <div class=" col ">
            <div class="fav my-3 d-flex flex-wrap card-deck  ">
                <div class="card" th:each="pet:${favoriteList}"><img class="card-img-top"
                                                                     th:src="'data:image/png;base64,'+${pet.getProduct_id().imageUrl}"
                                                                     width="100" height="100" alt="Card image cap">
                    <h3 class="text-center" th:text="${pet.getProduct_id().getName()}"></h3>
                    <h3 class="text-center" th:text="${pet.getProduct_id().description}"></h3>
                    <div class="d-flex justify-content-center text-center"><a class="edit"
                                                                              th:href="@{~/user/deleteFav/}+${pet.id}">
                        <button type="button" class="btn btn-primary">Remove</button>
                    </a></div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>


<!--<!DOCTYPE HTML>-->
<!--<html xmlns:th="http://www.thymeleaf.org">-->

<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">-->
<!--    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/4.1.0/css/bootstrap.min.css/}" />-->
<!--    <link rel="stylesheet" type="text/css" th:href="@{/webjars/font-awesome/5.0.10/web-fonts-with-css/css/fontawesome-all.min.css}" />-->
<!--    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />-->
<!--    <link rel="stylesheet" type="text/css" th:href="@{/css/cart.css}" />-->
<!--    <link-->
<!--            rel="stylesheet"-->
<!--            href="https://fonts.googleapis.com/icon?family=Material+Icons"-->
<!--    />-->

<!--    <title>BooksMart</title>-->
<!--</head>-->

<!--<body>-->

<!--<div th:replace="segments/basenav :: basenav"></div>-->

<!--<div class="container-fluid d-flex  flex-column justify-content-start align-items-center ">-->
<!--    <div th:if="${!products.isEmpty()}" class="col-lg-12 bg-dark rounded">-->
<!--        <h1 class="font-weight-bold text-white text-center text-capitalize">Your Carts</h1>-->
<!--        <table class="table table-responsive border-white   table-hover">-->
<!--            <thead>-->
<!--            <tr>-->
<!--                <th class="font-weight-bold text-white">PRODUCT ID</th>-->
<!--                <th class="font-weight-bold text-white">PRODUCT IMAGE</th>-->
<!--                <th class="font-weight-bold text-white">PRODUCT NAME</th>-->
<!--                <th class="font-weight-bold text-white">PRICE</th>-->
<!--                <th class="font-weight-bold text-white">ACTION</th>-->
<!--            </tr>-->
<!--            </thead>-->
<!--            <tbody>-->
<!--            <tr th:each="product : ${products.entrySet()}" class="cart-item">-->
<!--                <td th:text="${product.getKey().getId()}"></td>-->
<!--                <td><img th:src="${product.getKey().getImageUrl()}" style="width:300px; height:200px;"/></td>-->
<!--                <td th:text="${product.getKey().getName()}"></td>-->
<!--                <td th:text="${product.getKey().getPrice()}"></td>-->
<!--                <td>-->
<!--                    <a th:href="@{'/cart/remove/{id}'(id=${product.getKey().getId()})}" class="col-md-1">-->
<!--                        <button type="button" class="btn btn-danger rounded" th:text="#{cart.remove}"></button>-->
<!--                    </a>-->
<!--                </td>-->
<!--            </tr>-->
<!--            </tbody>-->
<!--        </table>-->
<!--        <div class="container d-flex justify-content-between align-items-center col-lg-12">-->
<!--                <h4 class="font-weight-bold text-capitalize text-white" th:text="#{cart.total} + ' ' + ${totalPrice}"></h4>">-->
<!--            <div class="row d-flex justify-content-around align-items-center">-->
<!--                <a th:href="@{'/cart/clear/'}" class="nav-link">-->
<!--                    <button type="button" class="btn btn-light rounded" th:text="#{cart.clear}"></button>-->
<!--                </a>-->
<!--                <a th:href="@{'/cart/checkout'}" class="nav-link">-->
<!--                    <button type="button" class="btn btn-light rounded" th:text="#{cart.checkout}"></button>-->
<!--                </a>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->


<!--    <div th:if="${products.isEmpty()}" class="col-3">-->
<!--        <h2 th:text="#{cart.empty}"></h2>-->
<!--    </div>-->

<!--</div>-->


<!--</body>-->
<!--<script>-->
<!--    document.querySelector('button.btn.btn-success').addEventListener('click', function() {-->
<!--        alert('Currently we dont accept online payment');-->
<!--    });-->
<!--</script>-->


<!--</html>-->