<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/4.1.0/css/bootstrap.min.css/}" />
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/font-awesome/5.0.10/web-fonts-with-css/css/fontawesome-all.min.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/login.css}" />
</head>

<body>
    <div th:replace="segments/basenav :: basenav" ></div>
    <div class="container m" >
        <div class=" login row d-flex justify-content-center">
            <div class="col-lg-6 col-xs-12 col-sm-12 col-md-12  px-0 " >
                <img th:src="@{~/images/login.png}" alt="Image 1" height="100%" width="100%">
            </div>
            <div class=" field col-lg-6 col-xs-12 col-sm-12 col-md-12  " style="height: 100%">
                <form autocomplete="off" th:action="@{/login}" class="form-signin" method="POST">
                    <div th:if="${param.logout}">
                        <div class="alert alert-info" th:text="#{login.alert.logged_out}"></div>
                    </div>
                    <fieldset>
                        <h4 class="title">Sign Into Your Account</h4>
                        <label>Username</label>
                        <div class="form-group input-box">
                            <input  class="mb-1" type="text" name="username"  placeholder="" required="true" autofocus="true"/>
                            <div class="underline"></div>
                        </div>
                        <label th:text="#{user.password}"></label>
                        <div class="form-group input-box">
                            <input  class="mb-1" type="password" name="password" placeholder="" required="true" />
                            <div class="underline"></div>
                        </div>
                        <div th:if="${param.error}">
                            <div class="alert alert-danger" th:text="*{error}"></div>
                        </div>
                        <span th:text="#{login.no_account}"></span>
                        <span>
                            <a th:href="@{/register}" th:text="#{register.button}"></a>
                        </span>
                        <div class="row ">
                            <div class="btn col-lg-12">
                                <input type="submit" name="login-submit" id="login-submit" class="btn btn-lg btn-primary btn-block" value="Login" />
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
    <script type="text/javascript" th:src="@{webjars/bootstrap/4.1.0/js/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{webjars/jquery/3.3.1-1/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/lang.js}"></script>
</body>

</html>