<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/4.1.0/css/bootstrap.min.css/}" />
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/font-awesome/5.0.10/web-fonts-with-css/css/fontawesome-all.min.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/register.css}" />
</head>

<body>
<div th:replace="segments/basenav :: basenav"></div>
<div class="container">
    <div class="row d-flex justify-content-center" style="margin-top:20px">
        <div class="register col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
            <form class="form-signin" autocomplete="off" th:action="@{payment}" th:object="${paymentForm}" method="POST">
                <fieldset>
                    <h1 class="title">Payment</h1>
                    <label>Full Name</label>
                    <div class="form-group input-box ">
                        <input type="text" th:field="*{fullName}" class=" input-lg" title="fullName" />
                        <div class="underline"></div>
<!--                        <div class="alert alert-danger error-alert" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></div>-->
                    </div>
                    <label>Card No</label>
                    <div class="form-group input-box ">
                        <input type="number" th:field="*{cardNo}" class=" input-lg" title="cardNo" required/>
                        <div class="underline"></div>
<!--                        <div class="alert alert-danger error-alert" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>-->
                    </div>
                    <label>CVV Code</label>
                    <div class="form-group input-box ">
                        <input type="number" th:field="*{cvvNo}" class=" input-lg" title="cvvNo" required/>
                        <div class="underline"></div>
<!--                        <div class="alert alert-danger error-alert" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>-->
                    </div>
                    <label>Billing Address</label>
                    <div class="form-group input-box">
                        <input type="text" th:field="*{billingAddress}" class=" input-lg" title="billingAddress" required/>
                        <div class="underline"></div>
<!--                        <div class="alert alert-danger error-alert" th:if="${#fields.hasErrors('passwordConfirm')}" th:errors="*{passwordConfirm}"></div>-->
                    </div>  <label>Email Address</label>
                    <div class="form-group input-box">
                        <input type="email" th:field="*{email}" class=" input-lg" title="email" required/>
                        <div class="underline"></div>
<!--                        <div class="alert alert-danger error-alert" th:if="${#fields.hasErrors('passwordConfirm')}" th:errors="*{passwordConfirm}"></div>-->
                    </div>
                    <label>Payment Amount</label>
                    <div class="form-group input-box">
                        <input type="number" th:field="*{payAmount}" class=" input-lg" title="payAmount" />
                        <div class="underline"></div>
<!--                        <div class="alert alert-danger error-alert" th:if="${#fields.hasErrors('fullName')}" th:errors="*{fullName}"></div>-->
                    </div>
                    <div class="btn col-lg-12">
                        <p class="mb-3">All fields with * are required!</p>
                        <input class="btn btn-outline-dark" type="submit" th:value="#{register.button}" />
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>
</body>

</html>